---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="right">
    {% unless page.categories == '' %}
      Categories:
      {% for category in page.categories %}
      <br /><a href="{{ site.baseurl }}/category/{{ category }}/">{{ category }}</a>
      {% endfor %}
    {% endunless %}
  </div>
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
